# PostgreSQL
POSTGRES_DB=retail_db
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password
POSTGRES_PORT=5432

# Kafka
KAFKA_PORT=9092
KAFKA_TOPIC=orders

# Spark
SPARK_MASTER_PORT=7077
SPARK_UI_PORT=8080

# Application
LOG_LEVEL=INFO